@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;800&display=swap');
html {
  font-size: 14px;
}
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Work Sans', sans-serif;
}
/* Nav section Start */
#common-span {
  color: #ff42a5;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 10rem;
}
.nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
}
.nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.follow-us-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  background: rgba(11, 2, 35, 0.1);
}
.nav-h3 {
  color: #0b0223;
  font-size: 2.8125rem;
  font-weight: 700;
}

.frame-img {
  width: 5.37756rem;
  height: 2.5rem;
}
.nav-p {
  color: #3c354f;
  font-family: Work Sans;
  font-size: 1.125rem;
  font-weight: 500;
}
/* Nav section ends */
/* banner section start */
.banner-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #fafafa;
  width: 100%;
  padding-right: 2rem;
}
.left-container {
  display: flex;
  flex-direction: column;
}
.banner-left {
  background-image: url('./images/Group 14.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left-p {
  margin-top: 1rem;
  display: flex;
  align-items: start;
  gap: 0.3rem;
}
.left-p img {
  width: 1.5rem;
}
.banner-h6 {
  color: #0b0223;

  font-size: 3rem;
  font-weight: 600;
}
.banner-h1 {
  font-size: 5.9375rem;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.little-p {
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
}
.sign-in,
.go-rogue {
  padding: 1.3125rem 2.5rem;
  gap: 0.625rem;
  border-radius: 3rem;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  background-color: #ff42a5;
  margin-top: 2.56rem;
}
.go-rogue {
  background: #4ec5f7;
}

.banner-right {
  width: 80%;
}
.banner-right img {
  width: 100%;
  height: 100%;
}
/* banner section ends */
/* card-hover starts*/
.card-hover {
  margin: 5rem 10rem;
}
.hover-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-h1 {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 700;
}
.funny-span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-p {
  margin-top: 1rem;
  color: #534c64;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
  margin-bottom: 2.5rem;
}
.hover-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.image {
  position: relative;
}
.image-img {
  display: block;
  width: 100%;
  height: 100%;
}
.image-description {
  color: #ff42a5;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 0.5rem;
}
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  opacity: 0;
  transition: opacity 0.25s;
  cursor: pointer;
}
.image-overlay:hover {
  opacity: 1;
  border: 3px solid #ff42a5;
}
.nothing-p {
  margin-top: 0.5rem;
  color: #534c64;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.875rem;
}
/* card hover ends */
/* overlap section stars */
.overlap {
  display: flex;
  justify-content: center;
  gap: 20rem;
  margin-top: 10rem;
  position: relative;
}
.overlay-right {
  display: flex;
  width: 100%;
}
.btm-img {
  position: absolute;
  top: 370px;
  right: 630px;
}

.left-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: end;
}
.overlap-h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.75rem; /* 125% */
  color: #0b0223;
}
.overlap-p {
  margin-top: 1rem;
  color: #534c64;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
}
/* overlap section ends */
/* divide-section starts */
.divide-section {
  margin-top: 10rem;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  padding: 5rem 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
}
.capsule {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0.6rem 3rem 0.6rem 0.6rem;
  border-radius: 3.125rem;
  background: #fff;
  color: #0b0223;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.capsule img {
  width: 20%;
}
.capsule:hover {
  border: 2px solid #ff42a5;
  color: #ff42a5;
}
/* divide section ends */
/* footer stars */
footer {
  background: #0b0223;
  color: #fff;
  padding-top: 5rem;
  padding-bottom: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.footer-amar {
  color: white;
}
.frame {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.links {
  display: flex;
  gap: 3rem;
}
.links-p {
  color: #fff;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
}
.logo {
  display: flex;
  gap: 3rem;
}
.logo > img {
  width: 30px;
}
.more-link {
  display: flex;
  gap: 3rem;
}
.more-link-p,
.terms-p {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}
/* footer ends */
/* Media Query for mobile response */
@media screen and (max-width: 499px) {
  html {
    font-size: 9px;
  }
  nav {
    flex-direction: column;
    margin: 3.4rem 0 3.87rem 0;
  }
  .nav-right {
    flex-direction: column;
    margin-top: 2.87rem;
  }
  .banner-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    gap: 0;
    background-color: white;
  }
  .banner-left {
    width: 100%;
  }
  .left-container {
    padding: 50px 50px;
    text-align: center;
  }
  .left-p {
    display: flex;
    justify-content: left;
    gap: 0.3rem;
  }
  .sign-in,
  .go-rogue {
    padding: 1rem 2rem;
    margin-top: 2rem;
  }
  .banner-right {
    width: 80%;
    height: 80%;
    margin-bottom: 1.56rem;
  }
  .banner-right img {
    width: 100%;
  }

  .card-hover {
    margin: 0;
    margin-top: 8rem;
  }
  .hover-container {
    display: flex;
    flex-direction: column;
    margin: 0 10rem;
  }
  .image-img {
    display: block;
    width: 100%;
    height: 100%;
  }
  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
  }
  .nothing-p {
    text-align: center;
  }

  .overlap {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-top: 2rem;
    position: relative;
  }
  .overlay-right,
  .overlap-right * {
    all: revert;
  }
  .overlap-right {
    display: flex;
    flex-direction: column-reverse;
    justify-content: end;
    align-items: end;
    margin-right: 5rem;
  }
  .top-img {
    width: 80%;
  }
  .btm-img {
    width: 35%;
    position: absolute;
    bottom: -4.5rem;
    left: 3rem;
  }
  .divide-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .capsule {
    gap: 1rem;
    padding: 0;
    padding-right: 2rem;
    padding-left: 0.2rem;
  }
  .capsule img {
    width: 35%;
  }
  .links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .logo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .logo > img {
    width: 20px;
  }
  .more-link {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 500px) and (max-width: 992px) {
  html {
    font-size: 13px;
  }
  nav {
    flex-direction: column;
    margin: 3.4rem 0 3.87rem 0;
  }
  .nav-right {
    flex-direction: column;
    margin-top: 2.87rem;
  }

  .banner-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    gap: 0;
    background-color: white;
  }
  .banner-left {
    width: 100%;
  }
  .left-container {
    padding: 50px 50px;
  }
  .left-p {
    display: flex;
    justify-content: left;
    gap: 0.3rem;
  }
  .sign-in,
  .go-rogue {
    padding: 1rem 2rem;
    margin-top: 2rem;
  }
  .banner-right {
    width: 80%;
    height: 80%;
    margin-bottom: 1.56rem;
  }
  .banner-right img {
    width: 100%;
  }

  .card-hover {
    margin: 5rem;
    margin-top: 8rem;
  }
  .hover-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .image-img {
    display: block;
    width: 100%;
    height: 100%;
  }
  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .nothing-p {
    text-align: center;
  }

  .overlap {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-top: 2rem;
    position: relative;
  }
  .overlap-left {
    text-align: center;
  }
  .overlay-right,
  .overlap-right * {
    all: revert;
  }
  .overlap-h1 {
    text-align: center;
  }
  .overlap-right {
    display: flex;
    flex-direction: column-reverse;
    justify-content: end;
    align-items: end;
    margin-right: 5rem;
  }
  .top-img {
    width: 80%;
  }
  .btm-img {
    width: 35%;
    position: absolute;
    bottom: -4.5rem;
    left: 3rem;
  }
  .divide-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .capsule {
    gap: 1rem;
    padding: 0;
    padding-right: 3rem;
    padding-left: 0.2rem;
  }
  .capsule img {
    width: 25%;
  }
  /* .links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .logo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .logo > img {
    width: 20px;
  }
  .more-link {
    display: grid;
    grid-template-columns: 1fr 1fr;
  } */
}
